@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Handlee&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fcfbfe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23ff86ae' fill-opacity='0.17' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  color: #000;
  font-family: 'Handlee', cursive;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

/* "New Quote" button*/
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #333;
  outline: none;
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Loader */
.loader {
  --color: rgb(0, 0, 0);
  --duration: 6.8s;
  width: 32px;
  height: 12px;
  position: relative;
  margin: 32px 0 0 0;
  zoom: 1.5;
}
.loader .inner {
  width: 32px;
  height: 12px;
  position: relative;
  -webkit-transform-origin: 2px 2px;
          transform-origin: 2px 2px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-animation: loader var(--duration) ease infinite;
          animation: loader var(--duration) ease infinite;
}
.loader .inner .left,
.loader .inner .right {
  width: 60px;
  height: 4px;
  top: 0;
  border-radius: 2px;
  background: var(--color);
  position: absolute;
}
.loader .inner .left:before,
.loader .inner .right:before {
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: inherit;
  position: absolute;
  top: -10px;
  left: 6px;
}
.loader .inner .left {
  right: 28px;
  -webkit-transform-origin: 58px 2px;
          transform-origin: 58px 2px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-animation: left var(--duration) ease infinite;
          animation: left var(--duration) ease infinite;
}
.loader .inner .right {
  left: 28px;
  -webkit-transform-origin: 2px 2px;
          transform-origin: 2px 2px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-animation: right var(--duration) ease infinite;
          animation: right var(--duration) ease infinite;
}
.loader .inner .middle {
  width: 32px;
  height: 12px;
  border: 4px solid var(--color);
  border-top: 0;
  border-radius: 0 0 9px 9px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.loader ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 0;
}
.loader ul li {
  height: 4px;
  border-radius: 2px;
  -webkit-transform-origin: 100% 2px;
          transform-origin: 100% 2px;
  width: 48px;
  right: 0;
  top: -10px;
  position: absolute;
  background: var(--color);
  -webkit-transform: rotateZ(0deg) translateX(-18px);
          transform: rotateZ(0deg) translateX(-18px);
  -webkit-animation-duration: var(--duration);
          animation-duration: var(--duration);
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loader ul li:nth-child(0) {
  -webkit-animation-name: page-0;
          animation-name: page-0;
}
.loader ul li:nth-child(1) {
  -webkit-animation-name: page-1;
          animation-name: page-1;
}
.loader ul li:nth-child(2) {
  -webkit-animation-name: page-2;
          animation-name: page-2;
}
.loader ul li:nth-child(3) {
  -webkit-animation-name: page-3;
          animation-name: page-3;
}
.loader ul li:nth-child(4) {
  -webkit-animation-name: page-4;
          animation-name: page-4;
}
.loader ul li:nth-child(5) {
  -webkit-animation-name: page-5;
          animation-name: page-5;
}
.loader ul li:nth-child(6) {
  -webkit-animation-name: page-6;
          animation-name: page-6;
}
.loader ul li:nth-child(7) {
  -webkit-animation-name: page-7;
          animation-name: page-7;
}
.loader ul li:nth-child(8) {
  -webkit-animation-name: page-8;
          animation-name: page-8;
}
.loader ul li:nth-child(9) {
  -webkit-animation-name: page-9;
          animation-name: page-9;
}
.loader ul li:nth-child(10) {
  -webkit-animation-name: page-10;
          animation-name: page-10;
}
.loader ul li:nth-child(11) {
  -webkit-animation-name: page-11;
          animation-name: page-11;
}
.loader ul li:nth-child(12) {
  -webkit-animation-name: page-12;
          animation-name: page-12;
}
.loader ul li:nth-child(13) {
  -webkit-animation-name: page-13;
          animation-name: page-13;
}
.loader ul li:nth-child(14) {
  -webkit-animation-name: page-14;
          animation-name: page-14;
}
.loader ul li:nth-child(15) {
  -webkit-animation-name: page-15;
          animation-name: page-15;
}
.loader ul li:nth-child(16) {
  -webkit-animation-name: page-16;
          animation-name: page-16;
}
.loader ul li:nth-child(17) {
  -webkit-animation-name: page-17;
          animation-name: page-17;
}
.loader ul li:nth-child(18) {
  -webkit-animation-name: page-18;
          animation-name: page-18;
}

@-webkit-keyframes page-0 {
  4% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
        54% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}

@keyframes page-0 {
  4% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  13%,
        54% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  63% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-1 {
  5.86% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
        55.86% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-1 {
  5.86% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  14.74%,
        55.86% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  64.74% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-2 {
  7.72% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
        57.72% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-2 {
  7.72% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  16.48%,
        57.72% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  66.48% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-3 {
  9.58% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
        59.58% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-3 {
  9.58% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  18.22%,
        59.58% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  68.22% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-4 {
  11.44% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
        61.44% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-4 {
  11.44% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  19.96%,
        61.44% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  69.96% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-5 {
  13.3% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
        63.3% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-5 {
  13.3% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  21.7%,
        63.3% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  71.7% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-6 {
  15.16% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
        65.16% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-6 {
  15.16% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  23.44%,
        65.16% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  73.44% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-7 {
  17.02% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
        67.02% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-7 {
  17.02% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  25.18%,
        67.02% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  75.18% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-8 {
  18.88% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
        68.88% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-8 {
  18.88% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  26.92%,
        68.88% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  76.92% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-9 {
  20.74% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
        70.74% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-9 {
  20.74% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  28.66%,
        70.74% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  78.66% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-10 {
  22.6% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
        72.6% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-10 {
  22.6% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  30.4%,
        72.6% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  80.4% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-11 {
  24.46% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
        74.46% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-11 {
  24.46% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  32.14%,
        74.46% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  82.14% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-12 {
  26.32% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
        76.32% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-12 {
  26.32% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  33.88%,
        76.32% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  83.88% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-13 {
  28.18% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
        78.18% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-13 {
  28.18% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  35.62%,
        78.18% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  85.62% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-14 {
  30.04% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
        80.04% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-14 {
  30.04% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  37.36%,
        80.04% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  87.36% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-15 {
  31.9% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
        81.9% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-15 {
  31.9% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  39.1%,
        81.9% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  89.1% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-16 {
  33.76% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
        83.76% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-16 {
  33.76% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  40.84%,
        83.76% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  90.84% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-17 {
  35.62% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
        85.62% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-17 {
  35.62% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  42.58%,
        85.62% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  92.58% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes page-18 {
  37.48% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
        87.48% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@keyframes page-18 {
  37.48% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
  44.32%,
        87.48% {
    -webkit-transform: rotateZ(180deg) translateX(-18px);
            transform: rotateZ(180deg) translateX(-18px);
  }
  94.32% {
    -webkit-transform: rotateZ(0deg) translateX(-18px);
            transform: rotateZ(0deg) translateX(-18px);
  }
}
@-webkit-keyframes left {
  4% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  46%,
    54% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  96% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}
@keyframes left {
  4% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  46%,
    54% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  96% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}
@-webkit-keyframes right {
  4% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  46%,
    54% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  96% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}
@keyframes right {
  4% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  46%,
    54% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  96% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}
@-webkit-keyframes loader {
  4% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform-origin: 2px 2px;
            transform-origin: 2px 2px;
  }
  40.01%,
    59.99% {
    -webkit-transform-origin: 30px 2px;
            transform-origin: 30px 2px;
  }
  46%,
    54% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform-origin: 2px 2px;
            transform-origin: 2px 2px;
  }
  96% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}
@keyframes loader {
  4% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  10%,
    40% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform-origin: 2px 2px;
            transform-origin: 2px 2px;
  }
  40.01%,
    59.99% {
    -webkit-transform-origin: 30px 2px;
            transform-origin: 30px 2px;
  }
  46%,
    54% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  60%,
    90% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-transform-origin: 2px 2px;
            transform-origin: 2px 2px;
  }
  96% {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
}


/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}
